html,
body,
h1,
h2,
h3,
div {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 760px) {
  .section.section-base, .section.section-detail {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .section.section-base {
    height: 100vh;
  }
}

.wrap {
  overflow: hidden;
}

.section {
  width: 50%;
  float: left;
  margin-bottom: -10000px;
  padding-bottom: 10000px;
}

.section-base {
  background: url("./bg.png") center top repeat;
  background-color: #3fa3e6;
  color: white;
}

.section-base .base-wrap {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-base .base-wrap .base-info {
  margin-top: 20px;
}

.section-base .base-wrap .avatar {
  background: white url("./avatar.png") center top;
  background-size: cover;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  margin-bottom: 10px;
}

.section-base .base-wrap .avatar:hover {
  box-shadow: 0 0 2px 4px #85c7f3;
}

.section-base .base-wrap .name {
  font-size: 20px;
  font-style: normal;
}

.section-base .base-wrap h2.descr {
  font-size: 16px;
}

.section-base .contact {
  margin-bottom: 20px;
  margin-top: 15px;
}

.section-base .contact-info {
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  margin-top: 10px;
}

.section-base .contact-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  background-size: contain;
  vertical-align: top;
}

.section-base .contact .email-icon {
  background-image: url("./email.png");
}

.section-base .contact .phone-icon {
  background-image: url("./phone.png");
}

.section-base .contact .github-icon {
  background-image: url("./github.png");
}

.section-base .other {
  border: 1px solid #ccc;
  width: 280px;
}

.section-base .other-info {
  font-size: 12px;
  float: left;
  width: 118px;
  white-space: nowrap;
  margin: 10px 10px;
}

.section-detail .detail-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.section-detail .detail-wrap .detail-tt {
  text-align: center;
  position: relative;
  height: 24px;
  line-height: 24px;
  font-size: 18px;
}

.section-detail .detail-wrap .detail-tt::before, .section-detail .detail-wrap .detail-tt::after {
  content: "";
  position: absolute;
  top: 12px;
  height: 1px;
  background-color: #ccc;
  width: 38%;
}

.section-detail .detail-wrap .detail-tt::before {
  left: 0;
}

.section-detail .detail-wrap .detail-tt::after {
  right: 0;
}

.section-detail .work {
  margin-top: 15px;
}

.section-detail .work .bd {
  margin: 20px 10px;
  padding: 0 20px;
  position: relative;
}

.section-detail .work .bd::after {
  content: "";
  position: absolute;
  display: block;
  top: 3px;
  left: 0;
  bottom: 0;
  width: 1px;
  background: linear-gradient(to bottom, #ccc 80%, white);
  z-index: -1;
}

.section-detail .work-exp {
  margin-bottom: 10px;
  position: relative;
}

.section-detail .work-exp:last-child {
  margin-bottom: 0;
}

.section-detail .work-exp .exp-time,
.section-detail .work-exp .exp-company {
  height: 20px;
  line-height: 20px;
}

.section-detail .work-exp .exp-content {
  font-size: 14px;
  color: gray;
  margin: 8px 0;
}

.section-detail .work-exp .exp-icon {
  content: "";
  height: 14px;
  width: 14px;
  border-radius: 7px;
  position: absolute;
  background-color: #3ea4e7;
  left: -27px;
  top: 3px;
}

.section-detail .work-exp:hover .exp-icon {
  box-shadow: 0 0 2px 2px #85c7f3;
}

.section-detail .strong {
  width: 100%;
}

.section-detail .strong-bd {
  padding: 10px;
}

.section-detail .strong-bd li {
  display: block;
  list-style-type: none;
}

.section-detail .strong-item {
  padding: 10px 0;
}

.section-detail .strong-item:last-child {
  margin-bottom: 0;
}

.section-detail .strong-item .tt {
  display: inline-block;
  height: 20px;
  line-height: 20px;
}

.section-detail .strong-item .scale {
  float: right;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
  font-size: 12px;
  color: #ccc;
  padding: 2px 5px;
}

.section-detail .strong-item .descr {
  font-size: 14px;
  color: gray;
}

.section-detail .strong-item .progress-wrap {
  width: 100%;
  height: 3px;
  background-color: #ccc;
  border-radius: 1px;
}

.section-detail .strong-item .progress-wrap .progress {
  height: inherit;
  background: linear-gradient(to right, #3ea4e7 80%, #85c7f3);
  width: 50%;
}

.section-detail .strong-item .progress-wrap:hover .progress {
  animation: strong-progress 0.5s;
}

.section-detail .strong-item .tt,
.section-detail .strong-item .scale,
.section-detail .strong-item .descr,
.section-detail .strong-item .progress-wrap {
  margin-top: 10px;
}

@keyframes strong-progress {
  from {
    width: 0;
  }
}
